Pro Silverlight in VB/Chapter22/SilverlightUploader/SilverlightUploader/Service References/Services/FileService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:9665/SilverlightUploader.Web/FileService.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="GetFileList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFileListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetFileListResult" nillable="true" type="q1:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DownloadFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fileName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DownloadFileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DownloadFileResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fileName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="data" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadFileResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>