Pro Silverlight in VB/Chapter19/DuplexService/DuplexService/Service References/Service/AsyncTask1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="TaskDescription">
    <xs:sequence>
      <xs:element minOccurs="0" name="DataToProcess" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TaskDescription" nillable="true" type="tns:TaskDescription" />
  <xs:complexType name="TaskResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="ProcessedData" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TaskResult" nillable="true" type="tns:TaskResult" />
</xs:schema>