Pro Silverlight in VB/Chapter19/DuplexService/DuplexService/Service References/Service/AsyncTask.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:13839/DuplexService.Web/AsyncTask.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/" />
  <xs:element name="SubmitTask">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="task" nillable="true" type="q1:TaskDescription" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReturnResult">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="result" nillable="true" type="q2:TaskResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>