Pro Silverlight in VB/Chapter19/TypeSharing/TypeSharingClient/Service References/ServiceReference1/TestService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://www.prosetech.com/DataClasses/Customer" elementFormDefault="qualified" targetNamespace="http://www.prosetech.com/DataClasses/Customer" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Customer">
    <xs:sequence>
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Customer" nillable="true" type="tns:Customer" />
</xs:schema>