Pro Silverlight in VB/Chapter21/DataControls/DataControls/Service References/DataService/StoreDb.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://www.prosetech.com/StoreDb/Category" elementFormDefault="qualified" targetNamespace="http://www.prosetech.com/StoreDb/Category" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:12169/DataControls.Web/StoreDb.svc?xsd=xsd2" namespace="http://www.prosetech.com/StoreDb/Product" />
  <xs:complexType name="ArrayOfCategory">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Category" nillable="true" type="tns:Category" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCategory" nillable="true" type="tns:ArrayOfCategory" />
  <xs:complexType name="Category">
    <xs:sequence>
      <xs:element minOccurs="0" name="CategoryName" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://www.prosetech.com/StoreDb/Product" minOccurs="0" name="Products" nillable="true" type="q1:ArrayOfProduct" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Category" nillable="true" type="tns:Category" />
</xs:schema>