Pro Silverlight in VB/Chapter21/DataControls/DataControls/Service References/DataService/StoreDb3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:12169/DataControls.Web/StoreDb.svc?xsd=xsd2" namespace="http://www.prosetech.com/StoreDb/Product" />
  <xs:import schemaLocation="http://localhost:12169/DataControls.Web/StoreDb.svc?xsd=xsd3" namespace="http://www.prosetech.com/StoreDb/Category" />
  <xs:element name="GetProduct">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://www.prosetech.com/StoreDb/Product" minOccurs="0" name="GetProductResult" nillable="true" type="q1:Product" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProducts">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://www.prosetech.com/StoreDb/Product" minOccurs="0" name="GetProductsResult" nillable="true" type="q2:ArrayOfProduct" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCategoriesWithProducts">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCategoriesWithProductsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://www.prosetech.com/StoreDb/Category" minOccurs="0" name="GetCategoriesWithProductsResult" nillable="true" type="q3:ArrayOfCategory" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>